<div class="container" style="margin-top: 2%;margin-bottom: 2%;">
    <div class="row">
      <div class="span8" style="background-color: #f1f1f1;border-radius: 12px;text-align: center;">
<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br/><br/><br/>
 <table>
   <tr>
     <td style="width: 60%;"><%= f.label :name %></td>
     <td> <%= f.text_field :name %></td>
   </tr>
   <tr>
     <td> <%= f.label :poster %></td>
     <td> <%= f.text_field :poster %></td>
   </tr>
   <tr>
     <td>
  
    <%= f.label :desc %>
   
  </td>
     <td> <%= f.text_field :desc %></td>
   </tr>
   <tr>
     <td>
    <%= f.label :rating %>
    </td>
     <td><%= f.text_field :rating %>
  
    </td>
   </tr>
   <tr>
     <td><%= f.label :genre %>
    </td>
     <td><%= f.text_field :genre %>
  
    </td>
   </tr>
   <tr>
     <td><%= f.label :cast %>
    </td>
     <td><%= f.text_field :cast %>
  </td>
   </tr>
   <tr>
     <td>
    <%= f.label :trailer %>
    </td>
     <td><%= f.text_field :trailer %>
  </td>
   </tr>
   <tr>
     <td>
    <%= f.label :reviews %>
    </td>
     <td><%= f.text_field :reviews %>
  
    </td>
   </tr>
   <tr>
     <td><%= f.label :tweets %>
    </td>
     <td><%= f.text_field :tweets %>
 
    </td>
   </tr>
   <tr>
     <td><%= f.label :similar_movies %>
   </td>
     <td> <%= f.text_area :similar_movies,:size=>"30X30" %>
  
    </td>
   </tr>
   <tr>
     <td><%= f.label :other_information %>
    </td>
     <td><%= f.text_area :other_information,:size=>"30X30" %>
  
    </td>
   </tr>
   <tr><td><%= f.submit %></td></tr>
 </table>
    
 
<% end %>

</div>
</div>
</div>