
<div class="container" style="margin-top: 2%;margin-bottom: 2%;">
    <div class="row">
      <div class="span8" style="background-color: #f1f1f1;border-radius: 12px;text-align: center;">


TITLE : <%= @movie.title %></br></br>

<%= image_tag @movie.posters.profile %></br></br></br>

<b>CAST </b></br>
<% @movie.abridged_cast.each do |cast| %>

<%= cast.name %></br>

<% end %>

Critic Rating : <%= @movie.ratings.critics_rating %><br/>
Critic Score : <%= @movie.ratings.critics_score %><br/>
Audience Rating :<%= @movie.ratings.audience_rating %><br/>
Audience Score : <%= @movie.ratings.audience_score %><br/>


 

 <% response =  HTTParty.get("#{@movie.links.similar}?apikey=46ahrg93dj6aqf8g7vt7yaaa") %>

  <% response["movies"].each do |movie| %>
   <%= movie %>
  <% end %>


<br/>
<% i= 0 %>
<% video =  HTTParty.get("#{@movie.links.clips}?apikey=46ahrg93dj6aqf8g7vt7yaaa") %>
 <% video["clips"].each do |item| %>
 <%if i<1 %>
    <% @tag= item["links"]["alternate"] %><br/>

    <% end %>
<% i=i+1 %> 

 <% end %>

<video width="320" height="240" controls>
  <source src="<%= @tag %>" type="video/mp4">
  
</video>
 

</div>
</div>
</div>

<!--  
@movie = RottenMovie.find(:title => 'Fight Club', :expand_results => true, :limit => 1)
 => #<PatchedOpenStruct id="13153", title="Fight Club", year=1999, mpaa_rating="R", runtime=139, critics_consensus="Solid acting, amazing direction, and elaborate production design make Fight Club a wild ride.", release_dates=#<PatchedOpenStruct theater="1999-10-15", dvd="2000-06-06">, 

 ratings=#<PatchedOpenStruct critics_rating="Certified Fresh", critics_score=81, audience_rating="Upright", audience_score=95>, synopsis="", posters=#<PatchedOpenStruct thumbnail="http://content7.flixster.com/movie/11/16/48/11164849_mob.jpg", profile="http://content7.flixster.com/movie/11/16/48/11164849_pro.jpg", detailed="http://content7.flixster.com/movie/11/16/48/11164849_det.jpg", original="http://content7.flixster.com/movie/11/16/48/11164849_ori.jpg">,

  abridged_cast=[#<PatchedOpenStruct name="Edward Norton", id="162660884", characters=["Narrator"]>, #<PatchedOpenStruct name="Brad Pitt", id="162652627", characters=["Tyler Durden"]>, #<PatchedOpenStruct name="Helena Bonham Carter", id="162652820", characters=["Marla Singer"]>, #<PatchedOpenStruct name="Meat Loaf", id="162676383", characters=["Big Bob Paulson"]>, #<PatchedOpenStruct name="Jared Leto", id="162653925", characters=["Angel Face"]>], 

  alternate_ids=#<PatchedOpenStruct imdb="0137523">, 
  links=#<PatchedOpenStruct self="http://api.rottentomatoes.com/api/public/v1.0/movies/13153.json", alternate="http://www.rottentomatoes.com/m/fight_club/", cast="http://api.rottentomatoes.com/api/public/v1.0/movies/13153/cast.json", clips="http://api.rottentomatoes.com/api/public/v1.0/movies/13153/clips.json", reviews="http://api.rottentomatoes.com/api/public/v1.0/movies/13153/reviews.json",
   similar="http://api.rottentomatoes.com/api/public/v1.0/movies/13153/similar.json">, raw_data={"id"=>"13153", "title"=>"Fight Club", "year"=>1999, "mpaa_rating"=>"R", "runtime"=>139, "critics_consensus"=>"Solid acting, amazing direction, and elaborate production design make Fight Club a wild ride.", "release_dates"=>{"theater"=>"1999-10-15", "dvd"=>"2000-06-06"}, "ratings"=>{"critics_rating"=>"Certified Fresh", "critics_score"=>81, "audience_rating"=>"Upright", "audience_score"=>95}, "synopsis"=>"", "posters"=>{"thumbnail"=>"http://content7.flixster.com/movie/11/16/48/11164849_mob.jpg", "profile"=>"http://content7.flixster.com/movie/11/16/48/11164849_pro.jpg", "detailed"=>"http://content7.flixster.com/movie/11/16/48/11164849_det.jpg", "original"=>"http://content7.flixster.com/movie/11/16/48/11164849_ori.jpg"}, "abridged_cast"=>[{"name"=>"Edward Norton", "id"=>"162660884", "characters"=>["Narrator"]}, {"name"=>"Brad Pitt", "id"=>"162652627", "characters"=>["Tyler Durden"]}, {"name"=>"Helena Bonham Carter", "id"=>"162652820", "characters"=>["Marla Singer"]}, {"name"=>"Meat Loaf", "id"=>"162676383", "characters"=>["Big Bob Paulson"]}, {"name"=>"Jared Leto", "id"=>"162653925", "characters"=>["Angel Face"]}], "alternate_ids"=>{"imdb"=>"0137523"}, 

  "links"=>{"self"=>"http://api.rottentomatoes.com/api/public/v1.0/movies/13153.json", "alternate"=>"http://www.rottentomatoes.com/m/fight_club/", "cast"=>"http://api.rottentomatoes.com/api/public/v1.0/movies/13153/cast.json", "clips"=>"http://api.rottentomatoes.com/api/public/v1.0/movies/13153/clips.json", "reviews"=>"http://api.rottentomatoes.com/api/public/v1.0/movies/13153/reviews.json", "similar"=>"http://api.rottentomatoes.com/api/public/v1.0/movies/13153/similar.json"}}> 
 -->