<% if @movie.empty? %>
<div class="container" style="margin-top: 2%;margin-bottom: 2%;">
    <div class="row">

      <div class="span12" style="background-color: #f1f1f1;border-radius: 12px;">
          <h4 style="padding: 5%;text-align: center;">No movies found </h4>
      </div>
    </div>
          </div>
<% else %>


<div class="container" style="margin-top: 2%;margin-bottom: 2%;">
    <div class="row">

      <div class="span12" style="background-color: #f1f1f1;border-radius: 12px;">
      </br><span style="font-size: 25px;color: black;margin-left: 43%;"><%= @movie.title.upcase %></span></br></br>
          <div class="span5" style="background-color: #f1f1f1;border-radius: 12px;">

          <table>
          	<tr>
          		<td style="width: 150px;"><b>TITLE</b></td>
          		<td><%= @movie.title %></td>
          	</tr>
            <tr style="height: 20px;"><td></td><td></td></tr> 
          	<tr>
          		<td><b>CAST</b></td>
          		<td>
          		   <% @movie.abridged_cast.each do |cast| %>
						<ul>
              <li> <%= cast.name %></br></li>
            </ul>
           
					<% end %>
			    </td>
          	</tr>
            <tr style="height: 20px;"><td></td><td></td></tr>
          	<tr>
          		<td><b>Critic Rating</b></td>
          		<td><%= @movie.ratings.critics_rating %></td>
          	</tr>

            <tr style="height: 20px;"><td></td><td></td></tr>

          	<tr>
          		<td><b>Critic Score</b> </td>
          		<td><%= @movie.ratings.critics_score %></td>
          	</tr>

            <tr style="height: 20px;"><td></td><td></td></tr>


          	<tr>
          		<td><b>Audience Rating</b></td>
          		<td><%= @movie.ratings.audience_rating %></td>
          	</tr>

            <tr style="height: 20px;"><td></td><td></td></tr>


          	<tr>
          		<td><b>Audience Score</b></td>
          		<td><%= @movie.ratings.audience_score %></td>
          	</tr>

            <tr style="height: 20px;"><td></td><td></td></tr>

            <tr>
              <td><b>Trailer</b></td>
              <td><a href="<%= trailer %>">Click here to view trailer</a></td>
            </tr>

            <tr style="height: 20px;"><td></td><td></td></tr>


            <tr>
              <td><b>Sinopsis</b></td>
              <td><%= @movie.synopsis %></td>
            </tr>

            <tr style="height: 20px;"><td></td><td></td></tr>

            <tr>
              <td><b>Similar Movies</b></td>
              <td><% similar_movies.each do |movie| %>
                    <ul><li><%=link_to movie["title"],findmovie_path(:title=>movie["title"]) %></li></ul>
                   <% end %>
                   <% if similar_movies.nil? %>
                    No Similar kind of movies 
                   <% end %>
              </td>
            </tr>
            <tr style="height: 20px;"><td></td><td></td></tr>
          </table>
			 



			

			
		</div>

		<div class="span5" style="background-color: #f1f1f1;border-radius: 12px;text-align: center;">
			<%= image_tag @movie.posters.original,:style=>"width: 400px;height: 500px;" %>
			<br/><br/><br/><br/><br/><br/>


			
		</div>
    

    </div>
    </div>

        </div>
    </div>
</div>
<% end %>
